extends layout

block content
  h1= title
  p Welcome to #{title}

  p register or login
  p
    input#username(placeholder='user name', value='u0001')
  p
    input#password(placeholder='password', type='password', value='foobar')
  p
    button#login login

  script(type='text/javascript')(src='javascripts/jquery-1.12.2.min.js')
  script(type='text/javascript')(src='javascripts/main.js')
